:root {
  --gray-50: #f9f9f9;
  --gray-100: #4d4d53;
  --gray-200: #3b3a41;
  --gray-300: #2a292f;
  --gray-400: #2c2b32;
  --gray-500: #1d1c21;
  --gray-600: #1a1a1f;
  --gray-700: #141418;
  --gray-950: #0b0b0f;

  --primary: #e6a34d;
  --secondary: #be496b;
  --black: #0b0b0f;
  --white: #fefefe;
  --transparent: transparent;

  --primary-gradient: linear-gradient(90deg, rgba(234, 158, 77, 1) 0%, rgba(255, 130, 92, 1) 100%);
  --secondary-gradient: linear-gradient(
    90deg,
    rgba(218, 69, 175, 1) 0%,
    rgba(250, 90, 135, 1) 100%
  );
}
